---
layout: default
title: dustingetz
---

      <div class="row-fluid">
        <div class="span12">
          <div class="hero-unit">

            <h1>Dustin Getz's blog</h1>

            <p>I'm a Philly software engineer, currently trying to get really good, as fast as possible. In June I am moving to
              Brooklyn for a three month sabbatical at <a href="https://www.hackerschool.com/">hacker/school</a>, where I will
              rev up my study of functional programming in the context of enterprise-sized programs. Looking for an early-stage
              Clojure team to join in September.</p>

          </div>
        </div>
      </div>

<!--
<div class="row">
  <div class="span8 offset2">
    <ul class="unstyled">
      {% for post in site.posts limit:1000 %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
-->

<div class="row">
  <div class="span8 offset2">
    <dl class="dl-horizontal">
      {% for post in site.posts limit:1000 %}
      <dt style="font-weight: normal;">{{ post.date | date_to_string }}</dt><dd><a href="{{ post.url }}">{{ post.title }}</a></dd>
      {% endfor %}
    </ul>
  </div>
</div>
